<div class="container">
    <div class = "row">
    <div class = "col-3">
    </div>

    <div class = "col-9">
        <div class = "row">
        <% @categories.each do |category| %>

        <% end %>
        </div>
    </div>
</div>